{% extends "layout.html" %}

{% block title %}
    Register
{% endblock  %}

{% block content %}
    <h2>Register</h2>
    <form action="/register" method="post">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <div class="mb-3">
            <label for="fullname" class="form-label">Full Name</label>
            <input type="text" class="form-control" id="fullname" name="fullname">
        </div>
        <div class="mb-3">
            <label for="qualification" class="form-label">Qualification</label>
            <input type="text" class="form-control" id="qualification" name="qualification">
        </div>
        <div>
        <label for="dob" class="form-label">Birth Date:</label>
            <input type="date" name="dob" max="{{ nowstring }}" id="dob" class="form-control" required />
        </div>
        <button type="submit" class="btn btn-primary mt-4">Register</button>
    </form>

{% endblock  %}

{% block style  %}
    <style>
        form {
            display: flex;
            flex-direction: column;
            alignitems: center;
            width: 50%;
            margin: auto;
        }
    </style>
{% endblock  %}