{% extends "layout.html" %}
{% block title %}
    User Dashboard
{% endblock %}
{% block content %}

<div class="headbar">
    <div class="search ms-4">
        <form class="d-flex" role="search">
            <select name="parameter" id="parameter" class="form-select me-2">
                {% for param in parameters %}
                  {% if param==parameter %}
                    <option value="{{param}}" selected>{{parameters[param]}}</option>
                  {% else %}
                    <option value="{{param}}">{{parameters[param]}}</option>
                  {% endif %}
                {% endfor %}
              </select>
            <input id="query" name="query"class="form-control me-2" type="search" placeholder="Search" aria-label="Search" value="{{query}}">
            <button class="btn btn-outline-success" type="submit"><i class='bi bi-search'></i> Search</button>
            <button class="btn btn-outline-danger ms-1" onclick="clearSearch()"><i class='bi bi-backspace'></i> Clear</button>
        </form>
    </div>
</div>

<div class="quiz-card">
    <div class="card-header">
        <h3>Quezzes</h3> <small>**You can submit the quiz only once on the QUIZ date.**</small>
    </div>
    <div class="table">
        <table class="quiz-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Subject Name</th>
                    <th>Chapter</th>
                    <th>No. of Question</th>
                    <th>Total marks</th>
                    <th>Quiz Date</th>
                    <th>Duration</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for quiz in quizzes %}
                    <tr>
                        <td>{{quiz.id}}</td>
                        <td>{{quiz.chapter.subject.name}}</td>
                        <td>{{quiz.chapter.name}}</td>
                        <td>{{quiz.chapter.questions|length}}</td>
                        <td>{{quiz.chapter.questions|sum(attribute='point')}}</td>
                        <td>{{quiz.date}}</td>
                        <td>{{quiz.duration}}</td>
                        <td>
                            <a href="{{url_for('viewquiz' , id=quiz.id)}}" class="btn btn-outline-success">
                                <i class="bi bi-eye"></i> View
                            </a>
                            <a href="{{url_for('submission' , id=quiz.id)}}" class="btn btn-primary">
                                <i class="bi bi-play-circle"></i> Start
                            </a>
                                                      
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block style %}
    <style>
        .headbar{
            display: flex;
            justify-content: right;
            background-color:rgb(166, 211, 231);
            margin: 0px 10px 10px 10px;
            border-radius:10px;
        }
    
        .search{
            display: flex;
            justify-content:center;
            padding:10px;
            
        }
    
        .form-select{
            width:150px;
        }
    
        .form-control{
            width: 500px;;
        }
        .quiz-card{
            padding:15px;
            margin:2rem;
            background: rgba(133, 195, 224, 0.32);
            display: flex;
            flex-direction: column;
            align-content:center;
            border-radius:10px;
        }

        .quiz-table{
            width: 100%;
            border-collapse: collapse;
            background: white;
        }
        
        .quiz-table th {
            padding: 1rem 2rem;
            background:rgb(199, 240, 255);
            color: #64748b;
            font-weight: 600;
            border-bottom: 2px solidrgb(15, 167, 55);
    
        }
        
        .quiz-table td {
            padding: 1rem 2rem;
            background-color: #fbfbfb;
            border-bottom: 1px solid #f1f5f9;
            color: #475569;
        }
    </style>
{% endblock %}